__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

.env
.env.*
*.log

.git/
.gitignore
.gitattributes
.github/

Dockerfile
.dockerignore

gallery-dl/
